@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Welcome to our website!</h1>
    <p>Click the button below to start the registration process.</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Start</a>
</div>
